<app-header2></app-header2>

<body background="../assets/images/background/S3.png">
    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
            <li data-target="#carousel-example-1z" data-slide-to="3"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <img class="d-block w-100" src="../assets/images/background/image.png" alt="First slide" height="350rem">
                <div class="ptext">
                    <span class="border trans">
                  Disfruta de las matemáticas
              </span>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../assets/images/background/slide2c.png" alt="Second slide" height="350rem">
                <div class="ptext">
                    <span class="border trans">
                  Números Reales
              </span>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../assets/images/background/slide3a.png" alt="Third slide" height="350rem">
                <div class="ptext">
                    <span class="border trans">
                  Potenciación
          </span>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../assets/images/background/slide4a.png" alt="Fourth slide" height="350rem">
                <div class="ptext">
                    <span class="border trans">
                  Expresiones algebraicas
                  </span>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->






    <div class="feature-wrapper  pt-5 pb-5 mt-5 mt-lg-0">
        <div class="container">
            <div class="row ">
                <!--  Comienzo de Primera Carta -->

                <div class="col-md-4 ">
                    <!--Card-->
                    <div class="card card-cascade wider">

                        <!--Card image-->
                        <div class=" view view-cascade overlay  white-text " mdbWavesEffect>
                            <img class="card-img-top" src="../assets/images/background/15.png" alt="Card image cap">
                            <!-- <mdb-card-img src="../assets/images/background/p2.jpg " class="img-fluid"></mdb-card-img> -->
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--/Card image-->

                        <div class="card-body card-body-cascade #9e9e9e grey text-center">
                            <!-- <mdb-card-body cascade="true " class="text-center peach-gradient white-tex ">  -->
                            <!--Card content-->
                            <h4 class="pink-text card-title  white-text ">
                                <i class="fas  fa-address-book"></i> Unidad 1</h4>

                            <hr class="hr-light ">

                            <p class="card-text white-text">En matemáticas, el conjunto de los números reales incluye tanto a los números racionales como a los números irracionales.</p>


                            <a href="#! " class="white-text justify-content-end ">

                                <a href="#" class="btn btn-outline-white btn-md" [routerLink]="['/u1']">Ver Tema</a>
                                <span>
                                                <i class="pl-2 waves-light " mdbWavesEffect></i>
                                              </span>

                            </a>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>

                <!--  Final de Primera Carta -->

                <!--  Comienzo de Segunda Carta -->

                <div class="col-md-4 ">
                    <!--Card-->
                    <div class="view view-cascade overlay">
                        <!--Card image-->
                        <div class="view view-cascade overlay waves-light " mdbWavesEffect>
                            <img class="card-img-top" src="../assets/images/background/NÚMEROS Rales.png" alt="Card image cap">
                            <!-- <mdb-card-img src="../assets/images/background/p4.jpg"></mdb-card-img> -->

                        </div>
                        <!--/Card image-->
                        <div class="card-body card-body-cascade default-color text-center">

                            <!--Card content-->
                            <h4 class="pink-text white-text ">
                                <i class="fas  fa-address-book"></i> Unidad 2</h4>

                            <hr class="hr-light">

                            <p class="card-text white-text">Es una operación matemática entre dos términos denominados: base a y exponente n. Se escribe aⁿ y se lee normalmente como «a elevado a la n».</p>

                            <a href="#" class="btn btn-outline-white btn-md" [routerLink]="['/u2']">Ver Tema</a>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>

                <!--  Final de Segunda Carta -->

                <!--  Comienzo de Tercera Carta -->

                <div class="col-md-4">
                    <!--Card-->
                    <div class="card card-cascade wider">

                        <!--Card image-->

                        <img class="card-img-top" src="../assets/images/background/17b.png" alt="Card image cap">


                        <a>
                            <div class="mask rgba-white-slight "></div>
                        </a>

                        <!--/Card image-->
                        <div class="card-body card-body-cascade #9e9e9e grey text-center">
                            <!--Card content-->
                            <h4 class="pink-text card-title  white-text ">
                                <i class="fas  fa-address-book"></i> Unidad 3</h4>

                            <hr class="hr-light ">

                            <p class="card-text white-text">Es la combinación de letras, números y signos de operaciones. Las letras suelen representar cantidades desconocidas y se denominan variables o incógnitas.</p>

                            <a href="#! " class="white-text justify-content-end ">

                                <a href="#" class="btn btn-outline-white btn-md" [routerLink]="['/u3']">Ver Tema</a>
                                <span>
                                            <i class="pl-2 waves-light " mdbWavesEffect></i>
                                          </span>

                            </a>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>

                <!--  Final de Tercera Carta -->

            </div>
        </div>
    </div>
    <app-footer></app-footer>

</body>