/* Style the links inside the sidenav */

#mySidenav1 a {
    position: absolute;
    /* Position them relative to the browser window */
    left: -10px;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    width: 100px;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 5px 5px 0;
    /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0;
    /* On mouse-over, make the elements appear as they should */
}


/* The about link: 20px from the top with a green background */

#about {
    top: 350px;
    background-color: rgba(3, 169, 244, 0.7);
}

#blog {
    top: 400px;
    background-color: #00897b;
    /* Blue */
}

#projects {
    top: 450px;
    background-color: #b71c1c;
    /* Red */
}

body,
html {
    height: 100%;
    margin: 0;
    font-size: 18;
    font-family: "lato", sans-serif;
    font-weight: 800;
    line-height: 1.8em;
    color: #666;
}

.pimg1 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*

    fixed = parallax
    scroll = normal

    */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('/assets/images/background/slide2c.png');
    min-height: 280px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-lingt {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 50px;
    letter-spacing: 8px;
}

.ptext1 {
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
}

.ptext .border {
    color: #fff;
    padding: 20px;
}

.ptext,
.border,
.trans {
    background-color: transparent;
}

@media(max-width:568px) {
    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}

.col-md-3 {
    padding: 10px;
    margin: 10px;
    min-height: 300px;
    position: relative;
    display: inline-block;
}