<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

<body background="../assets/images/background/a3.jpg">
    <br>
    <div class="w3layouts-two-grids">
        <div class="mid-class">
            <div class="txt-left-side">
                <img src="../assets/images/background/S2.png" width="100" height="200" class="card-img-top">
                <h2 class="text-muted mb-4 font-weight-bold" class="text-center"><i class="fas fa-user-graduate pr-1"></i>Iniciar Sesion</h2>
                <form action="#" method="post">
                    <div class="form-left-to-w3l">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <input class="form-control" type="email" required="" [(ngModel)]="username" name="username" placeholder="Usuario">

                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to-w3l ">

                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <input class="form-control" type="password" name="password" placeholder="password" required="" [(ngModel)]="password">
                        <div class="clear"></div>
                    </div>
                    <div class="main-two-w3ls">
                        <div class="left-side-forget">
                            <input type="checkbox" class="checked">
                            <span class="remenber-me">Recordar </span>
                        </div>
                        <div class="right-side-forget">
                            <a href="#" class="for">Olvidaste la contraseña...?</a>
                        </div>
                    </div>
                    <div class="btnn">
                        <button type="submit" (click)="valida_user()">Ingresar </button>
                    </div>
                </form>
            </div>
            <div class="img-right-side">
                <h3>Bienvenido a SMEP</h3>
                <h5>"Software educativo de matemática para Pre-Media"</h5>
                <img src="../assets/images/background/b13.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <app-footer></app-footer>
</body>
