<app-header2></app-header2>

<body background="../assets/images/background/p6.jpg">
    <br>
    <!--Comienzo del Tema-->
    <!-- Carta Principal Horizontal-->
    <div class="row d-flex justify-content-center ">
        <!-- News jumbotron -->
        <div class="jumbotron text-center blue-grey lighten-5" style="max-width: 60rem;">

            <!-- Subtitle -->
            <h2 class="indigo-text my-4 font-weight-bold"><i class="fas fa-rocket pr-1"></i>Tema 1</h2>

            <!-- Title del tema-->
            <h3 class="card-title h2">Conjunto de los números irracionales</h3>


            <!-- Grid row -->
            <div class="row d-flex justify-content-center">

                <!-- Grid column -->
                <div class="col-xl-10 pb-2">
                    <p class="card-text text-justify"><b>Notación</b></p>
                    <p class="card-text text-justify">La notacion que es aceptada por los numeros irracionales es : <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/8205f06e0d279689ed04a1ac04a3d9c249c637df" class="mwe-math-fallback-image-inline" aria-hidden="true" style="vertical-align: -0.338ex; width:0.905ex; height:2.176ex;"
                            alt="\mathbb{I}"></p>
                    <br>
                    <p class="card-text text-justify"><b>¿Qué son números irracionales?</b></p>
                    <p class="card-text text-justify">Los números irracionales tienen como definición que son números que poseen infinitas cifras decimales no periódicas, que por lo tanto no pueden ser expresados como fracciones.</p>
                    <br>
                    <p class="card-text text-justify">Estos números pueden haber sido descubiertos al tratar de resolver la longitud de un cuadrado según el Teorema de Pitágoras, siendo el resultado el número</p>
                    <br>
                    <h4 class="text-center">√2</h4>
                    <br>
                    <p class="card-text text-justify">, o raíz cuadrada de dos, el ejemplo de números irracionales más claro e inmediato, cuya respuesta a su vez posee infinitas cifras decimales que al no poder ser fraccionado, fue llamado irracional, en el sentido de no poder escribirlo
                        como una ración o varias raciones o fracciones.</p>
                    <br>
                    <h5 class="text-center">Ejemplos de números irracionales</h5>
                    <!--Ejemplos-->
                    <img src="../assets/images/background/Números - Irracionales.png" alt="Números-irracionales"><br><br>
                    <!--Fin de Ejemplos-->
                </div>
                <!-- Grid column -->
                <div class="col-xl-10 pb-2">
                    <p class="card-text">..............................................................................................................................................</p>
                    <p class="card-text text-justify"><b>Números Trascendentales</b>, no pueden representarse mediante un número finito de raíces libres o anidadas; provienen de las llamadas funciones trascendentes: trigonométricas, logarítmicas y exponenciales. El número Pi (π) y Euler
                        (e) son irracionales trascendentes.</p>
                </div>




            </div>
            <!-- Grid row -->

            <!--Botones-->
            <div>
                <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect><a [routerLink]="['/u1']">Regresar</a></button>
                <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect><a  [routerLink]="['/u1tem1eje1']">Realizar Ejercicio</a></button>

            </div>

        </div>
        <!-- Grid row -->
    </div>
    <!-- News jumbotron -->
</body>
<!--Final del Tema-->