<app-header2></app-header2>
<div id="mySidenav" class="sidenav">
    <a [routerLink]="['/u1']" id="about">Modulo1</a>
    <a [routerLink]="['/u2']" id="blog">Modulo2</a>
    <a [routerLink]="['/u3']" id="projects">Modulo3</a>


</div>

<!-- Section heading -->
<div class="text-center">

    <div class="pimg1">
        <div class="ptext">
            <span class="border trans">
                    Potenciación
            </span>
        </div>
        <p class="ptext1">******</p>
    </div>

    <br>
    <!-- Carta Principal Horizontal-->
    <div class="row d-flex justify-content-center ">
        <!-- News jumbotron -->
        <div class="jumbotron text-center hoverable p-4 #9e9e9e grey" style="max-width: 50rem;">

            <!-- Grid row -->
            <div class="row">
                <!-- Grid Image-->
                <div class="col-md-4 offset-md-1 mx-3 my-3">

                    <!-- Featured image -->
                    <div class="view overlay">
                        <img src="../assets/images/background/10.png" class="img-fluid" alt="Sample image for first version of blog listing">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!-- Fin Grid Image-->

                <!-- Inicio Contenido -->
                <div class="col-md-7 text-md-left ml-3 mt-3">

                    <!-- Excerpt -->
                    <a href="#!" class="white-text">
                        <h6 class="h6 pb-1 white-text"><i class="fas fa-book-open pr-1"></i> (Unidad 2 Tema 1) </h6>
                    </a>

                    <h4 class="h4 mb-4 white-text">Potenciación</h4>

                    <p class="font-weight-normal white-text text-justify">Una potencia de base real distinta de 0 y exponente entero negativo es igual a una potencia cuya base es el inverso multiplicativo de la base original y su exponente es igual al inverso activo del exponente de la potencia original.</p>
                    <!--Buttons-->
                    <a class="btn btn-outline-white btn-md" [routerLink]="['/u2tema1']">Ver Tema</a>
                </div>
                <!-- Fin Contenido-->
            </div>
            <!-- Grid row -->
        </div>
        <!-- News jumbotron -->
    </div>
</div>
<br>
<app-footer></app-footer>