<!--Navbar-->
<!-- <mdb-navbar SideClass="navbar navbar-expand-lg  special-color-dark" [containerInside]="false"> -->

<!-- Just an image -->

<!-- Navbar brand -->
<!-- <mdb-navbar-brand>
        <a class="navbar-brand " [routerLink]="['/estudiante']">
            <h4  ><img src="../assets/images/background/S2.png" width=80 height=40 alt="">Software educativo de matemática</h4>
        </a>
    </mdb-navbar-brand> -->

<!-- Collapsible content -->
<!-- <links> -->
<!-- Links -->
<!-- <ul class="navbar-nav ml-auto"> -->
<!--Notificaciones-->
<!--    <ul class="navbar-nav ">
                                        <li class="nav-item">
                                          <a class="nav-link" href="#!">
                                            <i class="fa fa-bell">
                                              <span class="badge badge-info">5</span>
                                            </i>
                                            Tareas
                                          </a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#!">
                                            <i class="fa fa-globe">
                                              <span class="badge badge-success">10</span>
                                            </i>
                                            Mensajes
                                          </a>
                                        </li>
                                </ul>-->
<!--Avatar-->
<!-- <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar">
                    <a class="nav-link p-0" href="#!">
                        <a><img src="../assets/images/background/soporte.png" class="rounded-circle z-depth-0" alt="avatar image" height="40"> Bienvenido {{usuarios.nombre}} </a><button [routerLink]="['/login']" type="button" class="btn btn-primary btn-xs"
                            href="#">Cerrar sesión</button>
                    </a>
                </li>
            </ul>

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                </a>
            </li> -->
<!-- Dropdown -->
<!--<li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-secundary-color dropdown-toggle" mdbWavesEffect>
                    <mdb-icon fas icon="user"></mdb-icon> {{usuarios.nombre}}<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a [routerLink]="['/login']" class="dropdown-item waves-light" mdbWavesEffect href="#">Cerrar sesión</a>
                </div>
            </li>-->

<!-- </ul> -->
<!-- Links -->
<!-- </links> -->
<!-- Collapsible content -->

<!-- </mdb-navbar> -->
<!--/.Navbar-->


<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand " [routerLink]="['/estudiante']">
            <h4><img src="../assets/images/background/S2.png" width=80 height=40 alt="">Software educativo de matemática</h4>
        </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">


            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="user"></mdb-icon>Bienvenido {{usuarios.nombre}} <span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
                </div>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->